[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/nerdtree-tabs"]
	path = vim/bundle/nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = git@github.com:chriseppstein/vim-haml.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:sidonath/oh-my-zsh.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/camel-case-motion"]
	path = vim/bundle/camel-case-motion
	url = git@github.com:bkad/CamelCaseMotion.git
